<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <title>{% block title %}Steam4Dev{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="/css/bootstrap.min.css">
            <link rel="stylesheet" href="/css/font-awesome.min.css">
            <link rel="stylesheet" href="/css/pe-icon-7-stroke.css">
            <link rel="stylesheet" href="/css/owl.carousel.css">
            <link rel="stylesheet" href="/css/magnific-popup.css">
            <link rel="stylesheet" href="/css/meanmenu.css">
            <link rel="stylesheet" href="/css/style.css">
            <link rel="stylesheet" href="/css/responsive.css">
            <link rel="stylesheet" href="/css/anime.css">
            <script src="js/vendor/modernizr-2.8.3.min.js"></script>
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}
            <script src="js/vendor/jquery-1.12.0.min.js"></script>
            <script src="js/bootstrap.min.js"></script>
            <script src="js/owl.carousel.min.js"></script>
            <script src="js/jquery.meanmenu.js"></script>
            <script src="js/jquery.mixitup.min.js"></script>
            <script src="js/jquery.magnific-popup.min.js"></script>
            <script src="js/jquery.counterup.min.js"></script>
            <script src="js/waypoints.min.js"></script>
            <script src="js/plugins.js"></script>
            <script src="js/main.js"></script>
        {% endblock %}
    </body>
</html>
